/*
Credits {
	Project Linework: Daniel Huffman;
	Website: Situated Laboratories url(situatedlaboratories.com);
	
}

*/

@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,700);

body, html, *, h1, h2, h3, p, ol, ul, ol li, ul li, a, li a, ul li a {
	margin:0;
	padding:0;
}

body {
	background-color:#E2EDDE;
}

/*

-webkit-transition:.2s;
-moz-transition:.2s;
-o-transition:.2s;
transition:.2s;

*/

/* HEADER */
header {
	position:fixed;
	z-index:1;
	top:0;
	width:100%;
	height:47px;
	background-color:#E2EDDE;
	text-align:center;
	border-bottom:solid #c0c0c0 1px;

}
#logo {
	position:absolute;
	right:50%;
	margin:10px -36px;
	width:60px;
	height:60px;
	border-radius:36px;
	background-color:#E2EDDE;
	border:#c0c0c0 solid 1px;
	text-align:center;
	-webkit-transition:.2s;
	-moz-transition:.2s;
	-o-transition:.2s;
	transition:.2s;
}
#logo img {
	margin-top:11px;
	margin-left:2px;
	width:75%;
}
#logo:hover {
	background-color:#cbd5c7;
}
#intro {
	display:block;
	margin:auto;
	padding:120px 0 40px 0;
	width:100%;
	border-bottom:dashed #c0c0c0 1px;
	text-align:center;
	background:url(../img/intro-bkg.png) repeat;
}
nav {
	float:right;
	margin:15px 20px 0 0;
}
nav ul {
	list-style-type: none;
}
nav ul li {
	display:inline;
	margin-left:15px;
}
nav ul li a {
	text-decoration:none;
	font-family: 'Roboto', serif;
	font-weight:400;
	font-size:0.8em;
	text-transform:uppercase;
	color:#494234;
	opacity:0.7;
	-webkit-transition:.2s;
	-moz-transition:.2s;
	-o-transition:.2s;
	transition:.2s;
}
nav ul li a:hover {
	opacity:1.0;
	text-decoration:none;
}
#intro-text {
	margin:20px auto;
	width:450px;
	text-align:center;
}


/* MASTER LAYOUT */
#main {
	display:block;
	margin:80px auto 0;
	padding:20px 0;
	width:100%;
	border-bottom:dashed #c0c0c0 1px;
}
#wrapper {
	display:block;
	width:900px;
	margin:auto;
}
a, a:hover {
	text-decoration:none;
}
h1 {
	font-family: 'Amatic SC', cursive;
	font-size:4em;
	font-weight:100;
	color:#111;
	margin-bottom:20px;
}
h2 {
	font-family: 'Roboto', serif;
	font-size:1.5em;
	color:#444;
	font-weight:400;
	line-height: 1.3em;
}
h2 a {
	text-decoration: none;
	color:#444;
	opacity:0.8;
	-webkit-transition:.2s;
	-moz-transition:.2s;
	-o-transition:.2s;
	transition:.2s;
}
h2 a:hover {
	opacity:1.0;
}
h3 {
	font-family: 'Roboto', serif;
	font-size:0.8em;
	color:#444;
	font-weight:100;
	text-transform: uppercase;
	margin-bottom:10px;
}
p, ul li, ul li a {
	font-family: 'Roboto', serif;
	font-size:1.1em;
	color:#444;
	font-weight:300;
	line-height: 1.3em;
}
p, ul {
	margin-bottom:18px;
}
p a, ul li a {
	text-decoration:none;
	color:#4682b4;
}
p a:hover, ul li a:hover {
	text-decoration:underline;
}
ul {
	margin-left:30px;
}
.post {
	margin-bottom:50px;

}
/* HOME PAGE SECTIONS */
section {
	display:block;
	width:100%;
	margin:0;
	height:300px;
	overflow:hidden;
	-webkit-transition:.3s;
	-moz-transition:.3s;
	-o-transition:.3s;
	transition:.3s;
	text-align:left;
	margin:20px 0;
}
section h1 {
	color:#888;
	margin-bottom:20px;
	width:100%;
	padding:5px 0 5px 15px;
	color:#fff;
	font-weight:100;
	font-size:6em;
}

.info {
	position:relative;
	width:100%;
	height:200%;
	-webkit-transition:.3s;
	-moz-transition:.3s;
	-o-transition:.3s;
	transition:.3s;
}
.info:hover {
	top:-100%;
	background:rgba(0,0,0,0.6);
}
.title {
	display:block;
	margin:auto;
	width:100%;
	padding-top:90px;
	text-align:center;
}

/*

Unique styles in style-bricks.css

*/


footer {
	display:block;
	margin:auto;
	height:400px;
	width:100%;
	background-color:#E2EDDE;
}
footer p {
	color:#494234;

}