/* Webfont Imports */
@import url(https://fonts.googleapis.com/css?family=Megrim); /* Angular */
@import url(http://fonts.googleapis.com/css?family=Amatic+SC); /* Elmer Casual */
@import url(http://fonts.googleapis.com/css?family=Jura:400,500); /* Geo Metro */
@import url(http://fonts.googleapis.com/css?family=Quintessential); /* Liana */
@import url(http://fonts.googleapis.com/css?family=Jura:600); /* Twenty Seven */
@import url(http://fonts.googleapis.com/css?family=Annie+Use+Your+Telescope); /* Charmingly Inaccurate */
@import url(http://fonts.googleapis.com/css?family=Special+Elite); /* Wargames */

/* MORIARTY HAND */
#pl-angular {
	background:url(../img/angular.png) no-repeat;
	background-position:0px 0px;
}
#pl-angular h1 {
	font-family: 'Megrim', cursive;
}


/* ELMER CASUAL */
#pl-elmer-casual {
	background:url(../img/elmer-casual.png) no-repeat;
	background-position:0px 0px;
}
#pl-elmer-casual h1 {
	font-family: 'Amatic SC', cursive;
}


/* GEO METRO */
#pl-geo-metro {
	background:url(../img/geo-metro.png) no-repeat;
	background-position:0px 0px;
}
#pl-geo-metro h1 {
	font-family: 'Jura', sans-serif;
	font-weight:500;
}


/* LIANA */
#pl-liana {
	background:url(../img/liana.png) no-repeat;
	background-position:0px 0px;
}
#pl-liana h1 {
	font-family: 'Quintessential', cursive;
}


/* TIMES APPROXIMATE */
#pl-times-approximate {
	background:url(../img/times-approximate.png) no-repeat;
	background-position:0px 0px;
}
#pl-times-approximate h1 {
	font-family:Times;
	font-weight:100;
}


/* TWENTY SEVEN */
#pl-twenty-seventy {
	background:url(../img/twenty-seventy.png) no-repeat;
	background-position:0px 0px;
}
#pl-twenty-seventy h1 {
	font-family: 'Jura', sans-serif;
}


/* CHARMINGLY INACCURATE */
#pl-charmingly-inaccurate {
	background:url(../img/charmingly-inaccurate.png) no-repeat;
	background-position:0px 0px;
}
#pl-charmingly-inaccurate h1 {
	font-family: 'Annie Use Your Telescope', cursive;
}

/* WARGAMES */
#pl-wargames {
	background:url(../img/wargames.png) no-repeat;
	background-position:0px 0px;
}
#pl-wargames h1 {
	font-family: 'Special Elite', cursive;
}

/* WEEKEND UPDATE */
#pl-weekend-update {
	background:url(../img/weekend-update.png) no-repeat;
	background-position:0px 0px;
}
#pl-weekend-update h1 {
	font-weight: 500;
}

/* MORIARTY HAND */
#pl-moriarty-hand {
	background:url(../img/moriarty-hand.png) no-repeat;
	background-position:0px 0px;
}
#pl-moriarty-hand h1 {
	margin-top:-25px;
	opacity: 0.7;
}


