body, html, *, h1, h2, h3, p, ol, ul, ol li, ul li, a, li a, ul li a {
	margin:0;
	padding:0;
}

@font-face {
	font-family: 'Ostrich Sans';
	src: url('ostrich-regular.eot');
	src: local('☺'), url('webfonts/ostrich-regular.woff') format('woff'), url('webfonts/ostrich-regular.ttf') format('truetype'), url('webfonts/ostrich-regular.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Ostrich Sans';
	src: url('ostrich-bold.eot');
	src: local('☺'), url('webfonts/ostrich-bold.woff') format('woff'), url('webfonts/ostrich-bold.ttf') format('truetype'), url('webfonts/ostrich-bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}

/*

-webkit-transition:.2s;
-moz-transition:.2s;
-o-transition:.2s;
transition:.2s;

*/

#header {
	position:fixed;
	z-index:1;
	top:0;
	width:100%;
	height:47px;
	background-color:#E2EDDE;
	text-align:center;
	border-bottom:solid #c0c0c0 1px;
}
#logo {
	display:inline-block;
	margin:10px auto 0 auto;
	width:60px;
	height:60px;
	border-radius:36px;
	background-color:#999;
	border:#E2EDDE solid 6px;
	text-align:center;
	-webkit-transition:.2s;
	-moz-transition:.2s;
	-o-transition:.2s;
	transition:.2s;
}
#logo:hover {
	background-color:#494234;
}
#logo p {
	font-family: 'Ostrich Sans';
	font-size:3.3em;
	font-weight:700;
	color:#E2EDDE;
	letter-spacing:-6px;
	margin:8px 0 0 0px;
}
#intro {
	display:block;
	margin:auto;
	padding:80px 0 30px 0;
	width:100%;
	background-color:#E2EDDE;
	border-bottom:dashed #c0c0c0 1px;
}
#introContain {
	display:block;
	margin:80px auto;
	width:450px;
	text-align:center;
}
#intro h1 {
	font-family: 'Amatic SC', cursive;
	font-size:4em;
	font-weight:100;
	color:#888;
	margin-bottom:20px;
}
#intro p {
	font-family: 'Roboto', serif;
	font-size:1.1em;
	color:#444;
	font-weight:400;
	line-height: 1.3em;
	margin-bottom:10px;
}
#intro p a {
	text-decoration:none;
	color:#4682b4;
}
#intro p a:hover {
	text-decoration:underline;
}
#main {
	display:block;
	margin:auto;
	padding:20px 0;
	width:100%;
	background-color:#E2EDDE;
}
#wrapper {
	display:block;
	width:700px;
	margin:auto;
}
section {
	display:block;
	width:100%;
	margin:0;
	height:300px;
	background-color:rgba(0,0,0,0.2);
	overflow:hidden;
	margin-bottom:20px;
	-webkit-transition:.3s;
	-moz-transition:.3s;
	-o-transition:.3s;
	transition:.3s;
	text-align:left;
}
section h1 {
	color:#888;
	margin-bottom:20px;
	background-color:rgba(0,0,0,0.4);
	width:100%;
	padding-left:15px;
	color:#fff;
}

/*

Unique styles in style-bricks.css

*/

.download {
	position:relative;
	top:0;
	left:0;
	width:20px;
	height:100%;
	background-color:#000;
	opacity:0.6;
	-webkit-transition:.4s;
	-moz-transition:.4s;
	-o-transition:.4s;
	transition:.4s;
	overflow:hidden;
}
.download:hover {
	opacity:0.8;
	width:200px;
}
.download img {
	position:relative;
	left:12px;
	top:8px;
}
.download-content {
	display:block;
	margin:auto;
	position:relative;
	top:30px;
	width:95%;
	height:231px;
	text-align:center;
}
.download-content ul {
	list-style-type: none;
}
.download-content li a {
	font-family:arial;
	font-weight: bold;
	font-size:0.8em;
	text-decoration:none;
	color:#333;
	margin-bottom:20px;
}
#footer {
	display:block;
	margin:auto;
	height:400px;
	width:100%;
	background-color:#E2EDDE;
}
#footer p {
	color:#494234;

}