<header id="intro">
  <div class="wrapper">
    <!-- <img src="img/pl-logo-full.png"> -->
    <h1>Project Linework</h1>
    <p>A library of handcrafted vector linework for cartography, each designed in a unique aesthetic style. They are meant to break us away from default line paths that we so often rely on by providing more visually-interesting alternatives.</p>
    <p><small><i class="fa fa-file"></i>Linework sets are available in the following formats: <a href="http://wiki.openstreetmap.org/wiki/Shapefiles" target="_blank">Shapefile</a>, <a href="http://geojson.org/" target="_blank">GeoJSON</a>, <a href="https://github.com/mbostock/topojson" target="_blank">TopoJSON</a>, and <a href="https://en.wikipedia.org/wiki/Adobe_Illustrator_Artwork" target="_blank">Adobe Illustrator</a> (PDF & Inkscape compatible)</small></p>
    <p><small><i class="fa fa-cc"></i>Project Linework is released to the public domain. Please credit the author and the project wherever possible.</small></p>
    <p><small><i class="fa fa-envelope-o"></i>Say hello! Contact Daniel Huffman at <a href="mailto:somethingaboutmaps@gmail.com">somethingaboutmaps@gmail.com</a></small></p>
  </div>
</header>