<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>{{ site.name }}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{site.baseurl}}/css/style.css" />
    <link rel="stylesheet" href="{{site.baseurl}}/css/style-bricks.css" />

    <meta property="og:image" content="{{ site.baseurl }}/img/moriarty-hand.png">
    <meta property="og:url" content="projectlinework.org">
    <meta property="og:title" content="Project Linework">
    <meta property="og:description" content="A library of handcrafted vector linework for cartography, each designed in a unique aesthetic style. They are meant to break us away from default line paths that we so often rely on by providing more visually-interesting alternatives.">
  </head>
<body>

{% include nav.html %}